<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ccaroni.kreasport">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".explore.view.activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".explore.services.geofence.GeofenceTransitionsIntentService"/>
        <service
            android:name=".explore.services.location.impl.GoogleLocationService"
            android:icon="@drawable/ic_kreasport_logo_no_bg"
            android:label="@string/location_service_name"/>
        <service android:name=".explore.services.impl.RaceService"/>

        <!-- Auth0 Lock -->
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="caroni.eu.auth0.com"
                    android:pathPrefix="/android/com.ccaroni.kreasport/callback"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:theme="@style/Lock.Theme"/>
        <!-- Auth0 Lock End -->

        <activity
            android:name=".legacy.view.activities.entry.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".legacy.view.activities.entry.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".explore.view.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>