<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ccaroni.kreasport">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".background.rebuild.geofence.GeofenceTransitionsIntentService"/>
        <service
            android:name=".background.rebuild.location.impl.GoogleLocationService"
            android:icon="@drawable/ic_kreasport_logo_no_bg"
            android:label="@string/location_service_name"/>
        <service android:name=".background.rebuild.impl.RaceService"/>

        <!-- Auth0 Lock -->
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="caroni.eu.auth0.com"
                    android:pathPrefix="/android/com.ccaroni.kreasport/callback"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:theme="@style/Lock.Theme"/>
        <!-- Auth0 Lock End -->

        <activity
            android:name=".view.activities.entry.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.old.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".view.activities.old.ExploreActivity"
            android:parentActivityName=".view.activities.old.HomeActivity"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.old.HomeActivity"/>
        </activity>
        <activity
            android:name=".view.activities.entry.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.activities.old.ProfileActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".view.activities.old.HomeActivity"
            android:theme="@style/AppTheme.Dark">

            <!-- Parent Activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.old.HomeActivity"/>
        </activity>
        <activity
            android:name=".view.activities.downloads.DownloadedRacesActivity"
            android:label="@string/title_activity_downloaded_races"
            android:parentActivityName=".view.activities.old.ProfileActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.ProfileActivity"/>
        </activity>
        <activity
            android:name=".view.activities.race.RiddleActivity"
            android:label="@string/title_activity_riddle"
            android:parentActivityName=".view.activities.old.ExploreActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.ExploreActivity"/>
        </activity>
        <activity
            android:name=".view.activities.records.MyRecordsActivity"
            android:label="@string/title_activity_my_records"
            android:parentActivityName=".view.activities.old.ProfileActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.ProfileActivity"/>
        </activity>
        <activity
            android:name=".view.activities.old.OfflineAreasActivity"
            android:label="@string/title_activity_offline_areas"
            android:parentActivityName=".view.activities.old.HomeActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.HomeActivity"/>
        </activity>
        <activity
            android:name=".view.activities.downloads.AreaSelectionActivity"
            android:label="@string/title_activity_dummy"
            android:parentActivityName=".view.activities.old.OfflineAreasActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.OfflineAreasActivity"/>
        </activity>
        <activity
            android:name=".view.activities.downloads.DownloadedAreaActivity"
            android:label="@string/title_activity_downloaded_area"
            android:parentActivityName=".view.activities.old.OfflineAreasActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.old.OfflineAreasActivity"/>
        </activity>
        <activity
            android:name=".view.activities.records.RecordActivity"
            android:label="@string/title_activity_record"
            android:parentActivityName=".view.activities.records.MyRecordsActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccaroni.kreasport.view.activities.records.MyRecordsActivity"/>
        </activity>
        <activity
            android:name=".view.rebuild.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>